# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.venv
*.egg-info/
dist/
build/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Data
data/*
!data/.gitkeep

# Models
*.pt
*.pth
*.h5
models/*
!models/.gitkeep

# Reports (salviamo solo i file .png, non i dati grezzi)
reports/figures/*.png
!reports/figures/.gitkeep

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Docker
*.pid