# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.venv
*.egg-info/
dist/
build/

# Data
data/*
!data/.gitkeep

# Models
*.pt
*.pth
*.h5
models/*

# IDE
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Logs
logs/
*.log
